textarea, input {
  width: 100%;
  padding: 10px 12px;
  font-size: 1.5rem;
  resize: none;
  background: #2a8fa9;
  color: #eee;
  box-shadow: 7px 6px 0 #efe292;
}

.btn-action {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#result-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top:30px;
}