#movie-data {
  display: flex;
  flex-direction: row;
}

img {
  border-radius: 0;
  object-fit: contain;
  object-position: center;
  width: 230px;
  border: 1px solid #efe292;
  box-shadow: 7px 6px 0 #efe292;
}

#movie-details {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  text-align: left;
}

.movie-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 2.5rem;
  text-shadow: 3px 3px 2px #ccc;
}

table {
  margin-top:20px;
}

table tbody tr td {
  font-size: 1.2rem;
  color: #fff;
  line-height: 2rem;
}

table tbody tr td:first-child {
  width: 80px;
  vertical-align: top;
}

table tbody tr td:nth-child(2) {
  width: 20px;
  vertical-align: top;
}

.action {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.action > div {
  flex: 3;
}